/* Header */
header {
    /* border: solid 2px; */
    text-align: center;
    background-color: rgba(150, 203, 253, 0);
    padding-bottom: 25px;
  }
  
  .title {
    color: rgb(0, 0, 0);
  }
  
  #header-form {
    margin-top: 25px;
  }
  
 #submit-button {
    margin: 0 0 0 14px;
 } 

  #location-input {
    margin-left: 10px;
  }
 body {
    background-image: url('https://cdn.dribbble.com/users/2277649/screenshots/8498294/weather_dribbble_size.gif.gif') ;
 }
  /* Main content */
  .grid-container {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    align-items: center;
    justify-content: space-evenly;
    
  }
  main {
    margin: 20px 0 0 0 ;
  }
  
  article {
      border: solid 1px;
      background-color: lightgray;
      text-align: center;
      align-items: center;
      padding: 20px;
    }
    
    .upcoming-container {
        margin: 20px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /* Sidebar */
 
    aside #temperature-converter {
        border: solid 5px;
        background-color: lightgray;
        position: absolute;
        top: 180px;
        left: 10px;
        width: 20%;
        padding: 20px 0 0 20px;
    }
  
  .weather-history {
    border: solid 2px;
    background-color: lightgray;
    position: absolute;
    top: 180px;
    right: 10px;
    width: 20%;
    margin-left: 500px;
    padding-left: 20px;
  }
  
 
  
  /* Images */
  img {
    max-width: 100%;
    height: auto;
  }
  